/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url("./reset.css");
@import url("./base.css");

/* Sections style */
@import url("./1-gallery.css");
@import url("./2-form.css");


@import "simplelightbox/dist/simple-lightbox.min.css";


.sl-overlay {
  background: #2E2F42CC;
}

.sl-wrapper .sl-close {
	color: #FFFFFF;
}

.sl-wrapper .sl-navigation button {
	color: #FFFFFF;
}


















